<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='langPredict-logo.svg') }}"
    />
    <title>LangPredict - Language Identifier</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <h1>
        <img
          class="main_logo"
          style="width: 37px"
          src="{{ url_for('static', filename='langPredict-logo.svg') }}"
          alt="LangPredict Logo"
        />
        LangPredict
      </h1>
      <p class="subtitle">Identify: French, English, or Moroccan Darija</p>

      <form method="POST" action="/">
        <div class="input-wrapper">
          <textarea
            id="user_text"
            name="text_input"
            placeholder="Type here, click the mic, or upload a file..."
            required
          >
{{ user_text }}</textarea
          >

          <button
            type="button"
            class="action-btn attach-btn"
            title="Attach Audio File"
            onclick="uploadFile()"
          >
            <i class="fa fa-paperclip" aria-hidden="true"></i>
          </button>

          <button
            type="button"
            id="mic-btn"
            class="action-btn mic-btn"
            onclick="toggleRecording()"
            title="Click to Record / Stop"
          >
            <i class="fas fa-microphone"></i>
          </button>
        </div>

        <div id="status-msg"></div>
        <input type="submit" value="Identify Language" class="predict_btn" />
      </form>

      <div id="result-container">
        {% if prediction %}
        <div
          class="result-box {% if 'Fr' in prediction or 'French' in prediction %}fr{% elif 'An' in prediction or 'En' in prediction %}en{% else %}da{% endif %}"
        >
          <div class="result-header">
            <i class="fas fa-language"></i> {{ prediction }}
          </div>
          <div class="result-score">Confidence Score: {{ confidence }}%</div>
        </div>
        {% endif %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>
